@font-face {
    font-family: JetBrainMono;
    src: url(../assets/JetBrainsMono-Medium.ttf);
}

body {
    border: 30px solid #57ca2a; /* Change the color code to the desired color */
    margin: 0; /* Remove default margin to ensure the border fits the entire viewport */
    padding: 0; /* Remove default padding */
}


.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
    border-bottom: 1px solid black;
}

.headerContainer h1 {
    font-family: 'JetBrainMono';
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

nav {
    display: inline-block;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
    font-family: 'JetBrainMono';
    font-weight: bold;
    font-size: 15px;
}

.contentWrapper {
    display: flex; /* Use flexbox to align the text block and image */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
}

.contentWrapperArt {
    display: flex; /* Use flexbox to align the text block and image */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
}

.mainContent {
    display: flex;
    flex-direction: column; /* Make the flex items stack vertically */
    justify-content: center; /* Center the flex items vertically */
    align-items: center; /* Center the flex items horizontally */
    height: 100vh
}

.nameText {
    font-family: 'JetBrainMono';
    font-size: 30px;
    color:#57ca2a;
}

.introText {
    font-family: 'JetBrainMono';
    font-size: 20px;
}

.otherText {
    font-family: 'JetBrainMono';
    color: rgb(131, 131, 131);
}

.imageContainer {
    margin-left: 100px;
}

.imageContainer img {
    height: 690px;
}

.boundingBox {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0) 100%);
    padding: 15px;
    border-radius: 10px;
}

.boundingBoxWork {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 2%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0) 100%);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-left: 20px;
}

.boundingBox p {
    line-height: 1;
}

/* Background Image */
.background {
    min-height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url('../assets/riverCloseup.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}